body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  color: #333;
}
hr {
  border: 0;
  height: 2px;
  background: #0b1ae5;
  margin: 1em 0;
}
p {
  margin: 0 0 1em;
}

main {
  padding: 1em;
}

section, aside {
  margin-bottom: 1em;
  padding: 1em;
  border: 5px solid #ccc;
  border-radius: 25px;
}
section {
  background-color: #acf5c9;
}       

